body {
    background-color: aliceblue;
}

h1 {
    margin-block: 20px 20px;
    color: ivory;
    font-family: cursive;
    border-style: none;
    background-color: green;
    
    
}
img {
    margin: 10px;
}
hr {
    border-style: dotted none none;
    border-color: green;
    border-width: 20px;
    width: 30%;


}